{"openapi": "3.1.0", "info": {"title": "Forensa API", "version": "0.1.0", "description": "Cryptographic evidence layer for enterprise AI agents. PLACEHOLDER - the production OpenAPI spec is generated from the FastAPI app at build time via apps/api/main.py openapi() method. This file is a hand-edited stub for the doc pack and will be replaced by CI on Day 1 of build phase.", "contact": {"name": "Forensa Engineering", "email": "engineering@forensa.dev"}, "license": {"name": "MIT", "url": "https://opensource.org/licenses/MIT"}}, "servers": [{"url": "https://api.forensa.dev/v1", "description": "Production"}, {"url": "https://api.eu.forensa.dev/v1", "description": "EU region"}], "tags": [{"name": "ingest", "description": "OTel GenAI event ingestion (BR-01)"}, {"name": "investigator", "description": "Query and replay (BR-10)"}, {"name": "export", "description": "Regulator pack generation (BR-05)"}, {"name": "admin", "description": "Tenant and agent provisioning"}, {"name": "mcp", "description": "MCP server endpoints for auditor portals"}], "paths": {"/v1/events": {"post": {"tags": ["ingest"], "summary": "Batch ingest OTel GenAI events", "description": "Accepts OTLP gRPC or HTTP/protobuf. p99 < 5ms at 10K req/s.", "responses": {"202": {"description": "Accepted"}}}}, "/v1/events/single": {"post": {"tags": ["ingest"], "summary": "Single-event ingest", "responses": {"200": {"description": "OK with full Receipt"}}}}, "/v1/query": {"post": {"tags": ["investigator"], "summary": "Natural-language query via Gemini Flash", "responses": {"200": {"description": "SSE stream of receipts"}}}}, "/v1/receipts/{receipt_id}": {"get": {"tags": ["investigator"], "summary": "Fetch receipt with chain proof", "responses": {"200": {"description": "Receipt + Merkle path + TSA anchor"}}}}, "/v1/receipts/{receipt_id}/verify": {"get": {"tags": ["investigator"], "summary": "Cryptographic verification", "responses": {"200": {"description": "Verification result"}}}}, "/v1/export/regulator": {"post": {"tags": ["export"], "summary": "Generate signed evidence pack", "responses": {"202": {"description": "Async job started"}}}}, "/v1/narrative/generate": {"post": {"tags": ["export"], "summary": "Gemini Pro narrative generation (BR-11)", "responses": {"200": {"description": "Markdown narrative + guardrails report"}}}}}, "components": {"schemas": {"Receipt": {"type": "object", "description": "Tamper-evident, dual-signed, policy-bound AI action record. Full schema in packages/schema/receipt.py", "required": ["receipt_id", "tenant_id", "agent_id", "event_type", "created_at", "agent_signature", "tenant_signature"]}}}}